.site-content{
    width: 100%;
    height: 100%;
    text-align: center;
}

.question-textfield, .site-content,
.possible-answer-textfield,
.possible-answer-vote-textfield,
.possible-answer-icon, .possible-answer-icon-minus{
    color: white !important;
}

.background{
    top:0;
    position:absolute;
    height: 100%;
}

.possible-answer-paper, .save-btn{
    background-color: inherit !important;
}

.sidebar, .content, .save-btn{
    padding-left: 0;
    padding-right: 0;
}

.save-btn{
    margin-top: 2%;
    padding-right: 15px;
}

.sidebar, .content{
    height: 100%;
}

.question-textfield {
    width:100% !important;
}

.possible-answer-vote-textfield{
    width: 90% !important;
}

.possible-answer-textfield{
    width:90% !important;
}

.possible-answer-vote-input{
    width: 8%;
    margin: 1%;
}

.question-textfield input,
.possible-answer-textfield input,
.possible-answer-vote-textfield input{
    color: #ffffff !important;
}

.possible-answer-icon{
    width: 100% !important;
    height: 72px !important;
}

.possible-answer-icon-minus{
    width: 72px !important;
    height: 72px !important;
}

.possible-answer-vote-input{
    color: white !important;
    text-align:center;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.12, #333));
    background: -moz-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.12, #333));
    background: -o-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.12, #333));
    background: -ms-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.12, #333));
    background:  gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.12, #333));
}